@import "tailwindcss";

:root {
  --background: #f1d8c6;
  --foreground: #000000;
  
  /* shadcn/ui variables */
  --primary: #ff6219;
  --primary-foreground: #ffffff;
  --secondary: #f5f5f5;
  --secondary-foreground: #373e51;
  --muted: #f5f5f5;
  --muted-foreground: #6b7280;
  --accent: #f5f5f5;
  --accent-foreground: #373e51;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #f0993d;
  --input: #e5e7eb;
  --ring: #ff6219;
  --radius: 0.625rem;
  
  /* Card variables */
  --card: #ffffff;
  --card-foreground: #171717;
  --popover: #ffffff;
  --popover-foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background);
    --foreground: var(--foreground);
  }
}

body {
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-background {
  background-color: var(--background);
}

.text-foreground {
  color: var(--foreground);
}
